{:kotoba.app/id "cloud.itonami.isic-6120", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigr2htao6drwdpbj74fkdpentjjhblaqpl22ixetwdzgvz47dpy74", :kotoba.app/embed-url "ipfs://bafkreigr2htao6drwdpbj74fkdpentjjhblaqpl22ixetwdzgvz47dpy74", :published {:archive "https://kotobase.net/ipfs/bafkreigr2htao6drwdpbj74fkdpentjjhblaqpl22ixetwdzgvz47dpy74", :size 73157, :put-status 201, :get-status 200, :at "2026-08-15T13:33:12.010Z"}}
